* {
    box-sizing: border-box;
    max-width: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#story {
    width: 50%;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
}
p {
    line-height: 20px;
    text-align: justify;
    outline: lawngreen;
}
.span {
    background-color: lightgray;
    font-style: italic;
}
.alice {
    font-weight: 800;
}