@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
/* Head title */
header {
    height: 300px;
    background-image: url("../images/sekiro-background-header.png");
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: center;
    position: relative;
  }
#title {
    /* background-color: yellow; */
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
}
#title img{
    max-width: 250px;
}

/* Top navigation bar  */
#menu_1 {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#menu_1 ul {
    list-style: none;
    background-color: brown;
    padding: 0;
}

#menu_1 li {
    margin-bottom: 0px;
}

#menu_1 a {
    color: gray;
    font-size: 25px;
    display: block;
    text-decoration: none;
    padding: 0.5em 0 0.5em 1.5em;
    font-weight: bold;
}

#menu_1 a.current {
    background-color: azure !important;
    color: black;
}

#menu_1 a:hover {
    background-color: aquamarine;
    color: black;
}


/* Main style */
main {
    width: 80%;
    padding: 2.5rem;
    margin: 3rem auto;
    border: 2px solid black;
    background-color: rgba(155,155,155,0.9);
}
main p {
    margin: 16px;
}

/* Footer navigation bar  */

#social_menu ul {
    list-style: none;
    background-color: brown;
    padding: 0;
}

#social_menu a{
    color: gray;
    font-size: 30px;
    display: block;
    text-decoration: none;
    padding: 0.5em ;
}

#social_menu a:hover {
    background-color: white;
}
#social_menu ul li {
    margin-bottom: 0;
    float: left;
}
#social_menu ul:after {
    content: "";
    display: table;
    clear: both;
}

footer nav {
    margin: 0 0.5rem;
}

/* Container background */
 body {
    background-image: url("../images/sekiro-background.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-x: 80%;
}
footer p {
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}


@media only screen and (min-width: 768px){
    /* Top navigation bar */
    header {
        background-position-x: none;
        position: relative;
    }
    #title {
        position: absolute;
        left: auto;
        top: auto;
        right: 25px;
        bottom: 25px;
        height: fit-content;
        width: fit-content;
        background-color: black;
        padding: 30px;
        border-style: inset;
        border-width: 10px;
      }
    #title img{
        max-width: 400px;
    }
    #menu_1 ul li {
        margin-bottom: 0;
        float: left;
    }
    #menu_1 ul:after {
        content: "";
        display: table;
        clear: both;
    }   
    #menu_1 a {
        padding: 0.5em 1em;
    }
    /* Main background*/
    body {
    background-position-x: none;
    }
    /* Main section*/
    main {
        width: 65%;
    }
    main div {
        margin: 20px;
    }
    .summary_box1 {
        display: flex;
        flex-wrap: row wrap;
        justify-content: space-around;
        /* overflow: hidden; */
    }
    .summary_box1 p {
        border: 1px solid black;
        text-indent: 2rem;
        padding: 20px;
    }
    .summary_box2 {
        display: flex;
        flex-wrap: row wrap;
        justify-content: space-around;
        /* overflow: hidden; */
    }
    .summary_box2 p {
        border: 1px solid black;
        text-indent: 2rem;
        padding: 20px;
    }
    .flex_item {
        width: 50%;
    }
    div img {
        width: auto;
    }

    /* Social navigation bar */
    #social_menu li{
        border: none;
    }
    #social_menu a {
        padding: 0.5em 1em;
    }
}

@media only screen and (max-width: 768px){
    header {
        height: 400px;
    }
}